<h1>アカウント情報表示</h1>

<div>
    <p>
        <%= 'this is test' %>
    </p>
    <p>
        <%= @user.user_name %>
    </p>
    <%#= link_to 'ログアウトします', action: 'logout' %>

    <%#= form_with model: @user, url: logout_auths_url, method: :patch do |f| %>
    <%= form_with url: logout_auths_url, method: :patch do |f| %>
        <div>
            <%= f.label 'ログアウト' , style: "display: block"%>
            <%= f.submit 'ログアウトはここをクリック' %>
        </div>
    <% end %>
</div>